# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env
.env.*

# Flask-specific
instance/
config.py  # if it ever includes secrets; otherwise comment out if shared
*.db

# Migrations
migrations/

# Compiled assets
*.log
*.pickle
*.json
*.sqlite3
*.pyc
*.pkl

# Static and cache
static/
*.cache

# IDE/editor/OS-specific
.vscode/
.idea/
.DS_Store
Thumbs.db

# Project-specific
token.pickle
client_secret_*.json
my_sql.py
dump.py
dump.sql
run_ssh.bat
mysql_compatible_dump.sql
csv_to_mysql.py